.h2{
    color:green;
    font-family: cursive;
     text-align: left;
     font-size: 20px;
}
.h1{
    color: lightseagreen;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}
.h4{
    color: green;
    font-family: monospace;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
body{
    background-color: skyblue;
    background-blend-mode: color-burn;
    padding:20px;
}
#h202{
    color: saddlebrown;
    font-family: monospace;
    text-align: left;
    font-size: 20px;
    font-weight: italic;

}
#h204{
    color: saddlebrown;
    font-family: monospace;
    text-align: left;
    font-size: 20px;
    font-weight: italic
}
table, table th, table td{
    border: 2px solid black;
    border-collapse: collapse;

}
table th{
    background-color: lightgrey;
}
table td{
    background-color: lightgoldenrodyellow;
    text-align: center;
}
table{
    width: 50%;
    height: 40%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}